{% extends "base.html" %}
{% load static %}


{% block title %}
BPDB|CTG|Load
{% endblock %}



{% block content %}
<div class="container-fluid"><br>
                <div class="content" >
                
                <h3 class="text-center"> Chittagong System Control(SCADA)</h3>
                <h4 class="text-center">Grid Load</h4>
                  <table class="table table-bordered table-hover">
                    <thead style="border:3px solid orange">
                      <tr >
                        <th scope="col" >TIME</th>
                        <th scope="col" >Modunagat</th>
                        <th scope="col">Bakolia</th>
                        <th scope="col">Khulshi</th>
                        <th scope="col">Hathazari</th>
                        <th scope="col">Barawlia</th>
                        <th scope="col">Halishar</th>
                        <th scope="col">CoxBazar</th>
                        <th scope="col">Duhazari</th>
                        <th scope="col">Matarbari</th>
                        <th scope="col">Shikolbaha</th>
                        <th scope="col">Channdroguna</th>
                        <th scope="col">Browaolia</th>
                        <th scope="col">Shahmirpur</th>
                        <th scope="col">Tk</th>
                        <th scope="col">Julda</th>
                        <th scope="col">Kaptai</th>
                        <th scope="col">Sholoshar</th>
                        <th scope="col">Rampur</th>
                        <th scope="col">AKS 230</th>
                        <th scope="col">GPH 230</th>
                        <th scope="col">BSRM 230</th>
                        <th scope="col">Mirasorai</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="border-right:2px solid red">
                        <td>01:00</td>
                        <td></td>
                        <td></td>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      <tr style="border-right:2px solid red">
                        <td>02:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr style="border-right:2px solid red">
                        <td>03:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr style="border-right:2px solid red">
                        <td>04:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr style="border-right:2px solid red">
                        <td>05:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
            </div>

    
</div>
    
{% endblock %}