{% extends "base.html" %}
{% load static %}


{% block title %}
BPDB|CTG|Generation
{% endblock %}



{% block content %}
<div class="container"><br>
    <div class="row">
        <div class="col col-3">
            <div class="card ">
                <div class="card-header">
                    <h4 class='text-center'>Power Plant Name</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                          <tr><td>Kaptai 1,2,3 unit</td></tr>
                          <tr><td>KAptai 4,5 Unit</td></tr>
                          <tr><td>Raojan unit 01</td></tr>
                          <tr><td>Raojan unit 02</td></tr>
                          <tr><td>Shikolbaha 225</td></tr>
                          <tr><td>Shikolbaha 225</td></tr>
                          <tr><td>BAraka</td></tr>
                          <tr><td>Kaptai</td></tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="card" style="box-sizing:border-box; overflow: hidden;">
                <div class="card-header">
                    <h4 class='text-center'>At 11:00 AM</h4>
                </div>
                <div class="">
                    <table class="table table-bordered" >
                        <tbody>
                          <tr><td><input type="text"></td></tr>
                          <tr><td>KAptai 4,5 Unit</td></tr>
                          <tr><td>Raojan unit 01</td></tr>
                          <tr><td>Raojan unit 02</td></tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}