{% extends "base.html" %}
{% load static %}


{% block title %}
BPDB|CTG|Contact
{% endblock %}

{% block content %}
<div class="container"><br>
    <div class=" text-center pb-4">
        <h2>Contact Us</h2><hr>
        <h3>Chittagong System Control</h3>
        <div class="icon">
            <span><b>Office:</b> </span><small>Chittagong system Control(SCADA)</small>
            <span><b>Address:</b> </span><small>Foye's Lake, khulshi, Chittgong</small>
            <span><b>Mobile:</b> </span><small>+8801720000000</small>
            <span><b>Mobile(Excutive Engr.):</b> </span><small>+8801720000000</small>
            <span><b>Phone:</b> </span><small>+0223344909,98</small>
            <span><b>Phone(Excutive Engr.):</b> </span><small>+0223344707</small>
            <span><b>Email:</b> </span><small>xenscada.pdb@gmail.com</small>
        </div>
        <h6>Bangladesh Power development board</h6>
    </div>
</div>
    
{% endblock %}